@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --color-primary: hsl(215, 51%, 70%);
  --color-secondary: hsl(178, 100%, 50%);
  --color-background: hsl(217, 54%, 11%);
  --color-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-primary);
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  margin: 3rem 0;
}
p {
  font-weight: 300;
}
a {
  color: dodgerblue;
  text-decoration: none;
}
a:hover {
  color: lightblue;
}
a:visited {
  color: blueviolet;
}
ul {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem;
}
li {
  transition: padding 0.2s;
}
li:hover {
  padding-left: 2px;
}
hr {
  border: 1px solid var(--color-line);
}
span {
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.2s;
}
span:hover {
  color: var(--color-secondary);
}
.item__eth {
  color: var(--color-secondary);
  list-style-image: url(images/icon-ethereum.svg);
}
.item__clock {
  list-style-image: url(images/icon-clock.svg);
}
.main__container {
  background-color: var(--color-card);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 375px;
  padding: 3rem;
  position: relative;
}
.main__heading {
  color: var(--color-white);
  cursor: pointer;
  font-weight: 600;
  margin: 1rem 0;
  transition: color 0.2s;
}
.main__heading:hover {
  color: var(--color-secondary);
}
.image__container {
  cursor: pointer;
  position: relative;
}
.hover__container {
  background-color: hsl(178, 100%, 50%, 60%);
  height: 98%;
  opacity: 0;
  position: absolute;
  top: 0%;
  transition: opacity 0.3s ease-in;
  width: 100%;
}
.hover__container:hover {
  opacity: 1;
}
.hover__container img {
  left: 40%;
  position: absolute;
  top: 50%;
}
.image__eq {
    border-radius: 10px;
    width: 100%;
}
.attribution {
  display: flex;
  margin: 2rem 0;
}
.profile__text {
  margin: 5px 0 0 2rem;
}
.image__avatar {
  border-radius: 100%;
  border: 1px solid var(--color-white);
  width: 10%;
}
